<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->

<head>
  <title>Celery Task Runner</title>

  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta charset="UTF-8" />

  <link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}/all.css">
</head>

<body>
  <!--[if lt IE 7]>
    <p class="chromeframe" style="background:#eee; padding:10px; width:100%">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
  <![endif]-->

  <div class="flakes-frame">
    <div class="flakes-content">
      <div class="view-wrap">
        <h1><a href="https://github.com/mattlong/celery-ui">Celery Task Runner</a></h1>
        <div class="grid-2 gutter-40">

          {% for module_name, task_list in task_lists.iteritems() %}
            <h3>{{module_name}}</h3>
            {% for task in task_list %}
            <div class="span-1 task">
              <fieldset>
                <legend>{{task.fullname}}</legend>
                {% if task.description %}
                <p>{{task.description}}</p>
                {% endif %}
                <form>
                  <input name="_task_name" class="field" value="{{task.module_name+'.'+task.fullname}}" type="hidden" fieldType="str">
                  <ul>
                    {% for field in task.fields %}
                    <li>
                    <label>{{field.name}} - ({{field.type}})</label>
                      {% if field.description %}
                      <p>{{field.description}}</p>
                      {% endif %}

                      {% if field.type == "bool" %}
                      <input name="{{field.name}}" type="checkbox" class="field" fieldType="{{field.type}}">

                      {% elif field.type == "datetime" %}
                      <input name="{{field.name}}" type="text" class="field datetimepicker" fieldType="{{field.type}}">

                      {% elif field.type == "date" %}
                      <input name="{{field.name}}" type="text" class="field datepicker" fieldType="{{field.type}}">

                      {% else %}
                      <input name="{{field.name}}" type="text" class="field" fieldType="{{field.type}}">

                      {% endif %}

                    </li>
                    {% endfor %}

                    <li>
                      <a class="action button-gray smaller right" href="#">Run</a>
                    </li>
                  </ul>
                </form>
              </fieldset>
            </div>
            {% endfor %}
          {% endfor %}

        </div> <!--grid-2 gutter-40-->
      </div> <!--view-wrap-->
    </div> <!--flakes-content-->
  </div> <!--flakes-frame-->
</body>

<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}/gridforms.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}/jquery.datetimepicker.css"/ >

<script src="{{STATIC_PREFIX}}/jquery-1.11.2.min.js"></script>
<script src="{{STATIC_PREFIX}}/jquery.datetimepicker.js"></script>
<script src="{{STATIC_PREFIX}}/snap.js"></script>
<script src="{{STATIC_PREFIX}}/responsive-elements.js"></script>
<script src="{{STATIC_PREFIX}}/gridforms.js"></script>

<script src="{{STATIC_PREFIX}}/base.js"></script>
<script src="{{STATIC_PREFIX}}/utils.js"></script>
<script>
DEBUG = false;

$('.datepicker').datetimepicker({
  mask: '9999/19/39',
  format:'Y/m/d',
  timepicker: false,
  scrollInput: false
});

$('.datetimepicker').datetimepicker({
  mask: true,
  scrollInput: false
});

$(document).on('click', '.action', function(e) {
    e.preventDefault();

    var task = $(this).parents('.task');
    submitTask(task);
});

function handleBadArgument(name, value, expectedType) {
  throw 'Value "' + value + '" for arg "' + name + '" could not be parsed into a ' + expectedType
}

function serializeArg(name, elem) {
    var fieldType = elem.getAttribute('fieldType');
    var originalValue = value = elem.value;

    switch (fieldType) {
      case 'str':
        return value;

      case 'int':
        value = parseInt(value)
        if (typeof(value) !== 'number' || isNaN(value)) {
          handleBadArgument(name, originalValue, fieldType);
        }
        return value;

      case 'float':
        value = parseFloat(value)
        if (typeof(value) !== 'number' || isNaN(value)) {
          handleBadArgument(name, originalValue, fieldType);
        }
        return {type: 'float', value: parseFloat(value)};

      case 'bool':
        return elem.checked;

      case 'date':
        return {type: 'date', value: value};

      case 'datetime':
        return {type: 'datetime', value: value};

      default:
        //TODO raise error
        return value;
    }
}

function submitTask(task) {
  var form = task.find('form');
  var argElems = form.find('.field');
  var args = {};

  var errors = [];
  argElems.each(function(i, elem) {
    var name = elem.getAttribute('name');
    try {
      var value = serializeArg(name, elem);
    } catch (err) {
      errors.push(err)
    }
    args[name] = value;
  });

  if (errors.length > 0) {
    alert(errors.join('\n'));
    return;
  }

  if (DEBUG) {
    for (var arg in args) {
      console.warn(arg, args[arg]);
    }
  }

  $.ajax({
    type: 'post',
    url: '/run-task',
    data: JSON.stringify(args),
    contentType: "application/json; charset=utf-8",
    dataType: 'json',
    success: function(info) {
      if ('error' in info) {
        alert('Error on server:\n' + info['error']);
        return;
      }

      console.info(info);

      setTimeout(function() {
        pollTask(info['id']);
      }, 1000);
    },
    error: function(jqXHR, errorType, exception) {
      alert('Error making request to server')
      console.warn(jqXHR, errorType, exception);
    }
  });
}

function pollTask(taskId) {
  $.ajax({
    type: 'get',
    url: '/tasks/' + taskId,
    dataType: 'json',
    success: function(info) {
      console.info(info);
      if (info['ready']) {
        var toShow = info['result'].join('\n')
        alert(toShow)
      } else {
        setTimeout(function() {
          pollTask(taskId);
        }, 1000);
      }
    },
    error: function(jqXHR, errorType, exception) {
      console.warn("ERROR", errorType);
    }
  });
}
</script>
</html>
